body{
    font-family: 'Montserrat', sans-serif;
    background-color: #011627;
    color: #FDFFFC;
    border: 60px solid #2EC4B6;
    border-top: 0px;
}

h1{
  text-align: center;
}


h2{
  text-align: center;
  margin-bottom: 90px;
}

#secondparagraph{
  text-align: center;
  margin-bottom: 30px;
}

#fp{
  text-align: center;
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 70px;
}

#sp{
  text-align: center;
  margin-left: 350px;
  margin-right: 350px;
}

.form{
  text-align: center;
}

#sub{
  background-color: #FF9F1C;
  font-family: 'Montserrat', sans-serif;
  height: 40px;
  width: 120px;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
